@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=Monsieur+La+Doulaise&family=Pinyon+Script&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root {
    /* ====== COLORS ====== */
    --vintageWine: #3F1521;
    --jetStream: #EAE3DB;
    --mochaEarth: #493e3c;
    --vanillaCream: rgba(212, 192, 149, 0.3);
    --vanillaCreamHover: rgba(212, 192, 149, 0.6);
    --vanCream: #D4C095;
    --darkVanilla: #c5b28e;
    --black: #000000;

    /* ====== FONTS ====== */
    --monsieur: 'Monsieur La Doulaise', cursive;
    --crimson: 'Crimson Text', serif;
    --pinyon: 'Pinyon Script', cursive;
    --spaceMono: 'Space Mono', monospace;
}

html { scroll-behavior: smooth; }

* {
    margin: 0;
    padding: 0;
    outline: none;
    text-decoration: none;
    box-sizing: border-box;
}

::before, ::after { box-sizing: border-box; }

ul { list-style: none; }

a { color: var(--jetStream); }

body {
    min-height: 100vh;
    background-color: var(--jetStream);
    color: var(--jetStream);
    font-family: var(--spaceMono);
}

::-webkit-scrollbar { width: 5px; }

::-webkit-scrollbar-track { background-color: transparent; }

::-webkit-scrollbar-thumb { background-color: var(--vintageWine); }

/* ================== REUSABLE ================== */
.section {
    width: 100%;
    background-color: var(--jetStream);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.button {
    position: relative;
    width: 11em;
    height: 3em;
    color: var(--black);
    font-family: var(--spaceMono);
    font-size: 1.1rem;
    font-weight: 700;
    border-radius: 20px;
    background-color: var(--vanCream);
    border: 2px solid var(--mochaEarth);
    padding: 6px 20px;
    margin-bottom: 2em;
    cursor: pointer;
}

.button::before,
.button::after {
    content: '';
    position: absolute;
    opacity: 0;
    width: 20px;
    height: 20px;
    background-color: transparent;
    background-image: url('../images/Stars.webp');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    transition: all 1s ease;
    pointer-events: none; 
}

.button::before {
    top: -10px;
    left: -10px;
} 

.button::after {
    bottom: -10px;
    right: -10px;
}

.button:hover::before,
.button:hover::after {
    width: 20px;
    opacity: 1;
    transform: scale(1.5) rotate(5deg);
}


/* ================== MODAL ================== */
.modal {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    transition: all 0.5s ease;
    z-index: 999;
    visibility: hidden;
    opacity: 0;
}

.modal.active { 
    visibility: visible; 
    opacity: 1;
}

.modal-container {
    position: relative;
    width: 40%;
    height: 87%;
    margin: auto;
    background-color: var(--jetStream);
    box-shadow: 1px 7px 25px rgba(0, 0, 0, 0.6);
    border-radius: 8px;
    transition: transform 0.3s ease;
    transform: scale(0.9);
    overflow: hidden;
}

.modal.active .modal-container { transform: scale(1); }

.modal-container label {
    position: absolute;
    top: 0.1em;
    right: 0.4em;
    cursor: pointer;
    font-size: 1.8rem;
    color: var(--vintageWine);
}

.modal-container label i { 
    position: relative; 
    z-index: 2; 
}

.modal-container label .close-back { 
    position: absolute;
    top: 0.5em;
    right: 0.2em;
    background-color: var(--jetStream);
    height: 0.6em;
    width: 0.6em;
    z-index: 1;
}

.modal-img { 
    display: flex;
    overflow-x: hidden;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    position: relative;
}

.modal-container img {
    flex: 0 0 100%;
    width: 100%;
    transition: transform 0.5s ease-in-out;
}

.modal-slider {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 0.5em 0 0.7em 0;
}

.modal-slider a {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

.modal-slider i {
    color: var(--vintageWine);
    font-size: 1.1rem;
}

.modal-slider .img-slider {
    width: 0.5em;
    height: 0.5rem;
    border-radius: 50%;
    background-color: var(--vanCream);
    opacity: 0.5;
    transition: all 0.3s ease;
}

.modal-slider .img-slider.active {
    opacity: 1;
    background-color: var(--vintageWine);
}

.modal-content { 
    color: var(--vintageWine); 
    padding: 0 2em 0.5em 2em;
}

.modal-content h3 { font-size: 2rem; }

.modal-content p {
    font-size: 1rem;
    margin-bottom: 2em;
}

.modal-content h4 { margin-bottom: 0.5em; }

.technologies { 
    display: flex; 
    flex-wrap: wrap;
    width: 100%;
    gap: 0.7em 0.5em;
}

.technologies .tech {
    display: flex;    
    position: relative;
    font-size: 0.9rem;
    font-weight: 600;
    color: var(--black);
    border-radius: 20px;
    background-color: var(--vanillaCreamHover);
    border: 1px solid var(--mochaEarth);
    padding: 6px 15px 6px 33px;
    white-space: nowrap;
    flex-shrink: 0;
}

.technologies .tech img {
    position: absolute;
    top: 0.25em;
    left: 0.6em;
    height: 75%;
    width: 23%;
    border-radius: 0;
}

.technologies .tech .css { width: 27%; }

.technologies .tech .netbeans,
.technologies .tech .javascript,
.technologies .tech .typescript { 
    top: 0.25em;
    height: 68%;
    width: 16%; 
}

.technologies .tech .nodejs { width: 19%; }

.technologies .tech .nestjs,
.technologies .tech .python,
.technologies .tech .numpy,
.technologies .tech .docker { width: 21%; }

.technologies .tech .postgresql { 
    left: 0.4em;
    width: 18%; 
}

.technologies .tech .figma,
.technologies .tech .puppeteer {
    top: 0.23em;
    width: 17%;
}

.technologies .tech .sweetalert {
    width: 17%;
    height: 73%;
    top: 0.27em;
    left: 0.5em;
}

.technologies .tech .exceljs { 
    top: 0.28em;
    left: 0.5em;
    width: 20%; 
    height: 67%;
}

.technologies .tech .git,
.technologies .tech .api { 
    width: 28%; 
    height: 73%;
    top: 0.27em;
    left: 0.5em;
}

.technologies .tech .unity { 
    height: 70%; 
    left: 0.5em;
}

.technologies .tech .csharp { width: 29%; }

.technologies .tech .mysql {
    height: 72%;
    top: 0.33em;
}

.technologies .tech .lexer {
    top: 0.4em;
    height: 58%;
    width: 22%;
}


/* ================== NAVBAR ================== */
.navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90px;
    width: 100%;
    position: fixed;
    top: 0;
    background: var(--vintageWine);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    transition: top 0.3s ease;
    z-index: 999;
}

.navbar.hide { top: -90px; }

.navbar-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    padding: 0 2rem;
    max-width: 1920px;
}

.navbar-logo {
    cursor: pointer;
    height: 90%;
    width: 10%;
    padding: 1rem 0;
}

.navbar-logo img {
    width: auto;
    height: 100%;
}

.navbar-container .navbar-menu {
    display: flex;
    text-align: center;
    gap: 1.2rem;   
}

.navbar-container .navbar-menu.active { background: var(--vintageWine); }

.navbar-container .navbar-menu .contact { position: relative; }

.navbar-container .navbar-menu li a {
    position: relative;
    font-size: 1.1rem;
    font-weight: 500;
    padding: 6px 10px;
    text-decoration: none;
    transition: color 0.3s ease;
    overflow: hidden;
}

.navbar-container .navbar-menu .contact a {    
    color: var(--black);
    font-weight: 700;
    border-radius: 20px;
    background-color: var(--vanCream);
    border: 2px solid var(--mochaEarth);
    padding: 6px 20px;
}

.navbar-container .navbar-menu li a::after,
.navbar-container .navbar-menu li a::before {
    content: '';
    position: absolute;
    height: 2px;
    background-color: var(--vanCream);
    width: 0%;
    transition: all 0.4s ease;
}

.navbar-container .navbar-menu .contact a::before,
.navbar-container .navbar-menu .contact a::after { 
    content: '';
    position: absolute;
    opacity: 0;
    width: 20px;
    height: 20px;
    background-color: transparent;
    background-image: url('../images/Stars.webp');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    transition: all 1s ease;
    pointer-events: none; 
}

.navbar-container .navbar-menu .contact a::before {
    top: -10px;
    left: -10px;
}

.navbar-container .navbar-menu .contact a::after {
    bottom: -10px;
    right: -10px;
}

.navbar-container .navbar-menu li a::before { 
    bottom: 1px; 
    left: 50%;
}

.navbar-container .navbar-menu li a::after { 
    bottom: -3px; 
    right: 50%;
}

.navbar-container .navbar-menu li a:hover::before,
.navbar-container .navbar-menu li a.active::before {
    left: 0;
    width: 50%;
}

.navbar-container .navbar-menu li a:hover::after,
.navbar-container .navbar-menu li a.active::after {
    right: 0;
    width: 50%;
}

.navbar-container .navbar-menu .contact a:hover::before,
.navbar-container .navbar-menu .contact a:hover::after {
    width: 20px;
    opacity: 1;
    transform: scale(1.5) rotate(5deg);
}

.navbar-toggle {
    display: none;
    background: transparent;
    padding: 10px;
    border: none;
    cursor: pointer;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    background: var(--jetStream);
    border-radius: 10px;
    transition: all  0.3s ease-in-out;
}


/* ================== HEADER ================== */
header {
    background-color: var(--vintageWine);
    background-image: url('../images/PatternOrg.webp');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom;
    max-height: 100vh;
    width: 100%;
}

.home-container {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    padding: 0 7rem;
}

.home-design {
    margin-top: 5rem;
    width: 60%;
    display: flex;
    flex-direction: column;
}

.home-design .home-name { padding: 0 4rem; }

.home-design .home-name h1 {
    font-family: var(--monsieur);
    font-size: 13rem;
    font-weight: lighter;
}

.home-design .home-name h3 {
    font-size: 5rem;
    color: var(--vanCream);
    -webkit-text-stroke: 0.1rem var(--mochaEarth);
    margin: -1.3em 0 0 3em;
}

.home-design .home-info { padding: 2.3em 0; }

.home-design .home-info p { font-size: 1.1rem; }


/* ================== ABOUT ME ================== */
.section.aboutMe { border-bottom: var(--vintageWine) 2px solid; }


/* ======================= SKILLS ======================= */
.skills-container {
    width: 90%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(20em, 1fr));
    gap: 1.5em;
}

.skill-card {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: var(--vanillaCream);
    color: var(--mochaEarth);
    padding: 1.5em;
    overflow: hidden;
    z-index: 1;
}

.skill-card::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 92%;
    height: 90%;
    border: 3px solid var(--vanCream);
    pointer-events: none;
    z-index: 0;
}

.skill-card h2 {
    font-size: 2rem;
    color: var(--vintageWine);
    margin-bottom: 0.5em;
}

.skill-card ul { margin-bottom: 1em; }

/* ================== PROJECTS ================== */
.description {
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 1em;
    margin-bottom: 4em;
}

.description h1 {
    font-size: 4rem;
    color: var(--vintageWine);
}

.description p {
    color: var(--mochaEarth);
    font-size: 1.1rem;
}

.options-container .option {
    width: 9.8em;
    height: 3em;
    color: var(--black);
    font-family: var(--spaceMono);
    font-size: 1rem;
    font-weight: lighter;
    border-radius: 20px;
    background-color: var(--vanillaCream);
    border: none;
    padding: 6px 20px;
    margin-bottom: 1em;
    cursor: pointer;
    transition: 0.5s ease;
}

.options-container .option:hover { background-color: var(--vanillaCreamHover); }

.options-container .option.active {
    color: var(--jetStream);
    background-color: var(--vintageWine);
}

.projects-container { display: none; }

.projects-container.active {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    gap: 1.5rem;
    padding: 2rem;
}

.project { 
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.project .border {
    position: absolute;
    inset: 0px;
    border: 0.3rem solid var(--vanCream);
    opacity: 0;
    transform: rotate(10deg);
    transition: all 0.5s ease-in-out;
    z-index: 2;
}

.project:hover .border {
    inset: 2rem;
    opacity: 1;
    transform: rotate(0);
}

.project img { 
    width: 100%; 
    height: 100%;
    transition: all 0.4s ease;
    z-index: 1;
}

.project:hover img {
    filter: blur(4px) brightness(0.5);
    transform: scale(1.05);;
}

.project .content-project {
    position: absolute;
    width: calc(100% - 4em);
    height: calc(100% - 4em);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transform: scale(0);
    transition: 0.5s;
    z-index: 2;
}

.project:hover .content-project { transform: scale(1); }

.project-title { 
    display: flex;
    flex-direction: column;
    align-items: center;
}

.project-title h5 {
    font-size: 2rem;
    letter-spacing: 0.7rem;
}

.project-title p {
    transform: translateY(-0.3em);
    letter-spacing: 0.7em;
    margin-bottom: 3em;
}

.project-buttons { 
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    justify-content: center;
    z-index: 3; 
}

.project-buttons .project-option {    
    color: var(--black);
    font-family: var(--spaceMono);
    font-size: 1rem;
    border-radius: 20px;
    background-color: var(--vanCream);
    border: 1px solid var(--mochaEarth);
    padding: 6px 20px;
    cursor: pointer;
}

.project-buttons .project-option:hover { background-color: var(--darkVanilla); }

.project-option .fa-brands,
.project-option .fa-solid { margin-right: 0.5em; }

.project-option ion-icon { 
    margin-right: 0.3em;
    transform: translateY(0.1em);
}

.project-option .fa-arrow-up-right-from-square { 
    font-size: 0.8em; 
    margin-right: 0.7em;
}


/* ================== EXPERIENCE ================== */
.experience { border-top: 2px solid var(--vintageWine); }

.description.exp { margin-bottom: 2em; }

.exp-section {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.exp-section:not(:last-child) { margin-bottom: 3rem; }

.exp-left,
.exp-right {
    width: 50%;    
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.exp-left { 
    padding: 1em;
    align-items: center; 
}

.exp-right {
    padding-right: 6em;
    font-size: 1rem;
    color: var(--mochaEarth);
    align-items: center;
}

.exp-right.second { padding: 0 0 0 6em; }

.exp-title {
    background-color: var(--vanCream);
    color: var(--vintageWine);
    font-weight: bold;    
    padding: 0.2em 1.5em;
    transform: rotate(-5deg) translateY(2em);
    text-align: center;
}

.exp-title.left { transform: rotate(5deg) translateY(1.5em); }

.exp-title h5 {
    font-family: var(--pinyon);
    font-size: 2rem;
}

.exp-title p {
    font-family: var(--crimson);
    font-size: 0.8rem;
    color: var(--mochaEarth);
}

.exp-left img {
    width: 55%;
    height: 27em;
}

.exp-left .dolphin { width: 70%; }

.exp-right h2 { 
    color: var(--vintageWine); 
    text-align: center;
}

.exp-right p { text-align: justify; }

.button.stay,
.button.congress {
    width: 13em;
    height: 2.5em;
    margin: 2.5em 0 0 0;
    border: 1.5px solid var(--mochaEarth);
    font-size: 1rem;
}


/* ================== FOOTER ================== */
.footer {
    width: 100%;
    background-color: var(--vintageWine);
    height: 100px;
    overflow: hidden;
}

.footer-icon { 
    height: 100%;
    display: flex;
    align-items: center;
}

.footer-icon img {
    height: 70%;
    transform: translateX(1em);
}

/* ================== RESPONSIVE ================== */

@media (max-width: 880px) {
    /* ================== NAVBAR ================== */
    .navbar-container .navbar-menu {
        display: none;
        flex-direction: column;
        align-items: flex-start;
        gap: 2.3rem !important;
        position: absolute;
        height: 100vh;
        width: 250px;
        top: 0;
        right: 0;
        padding: 5rem 1.5rem;
        box-shadow: 0 10px 10px rgba(0, 0, 0, 0.3);
        -webkit-backdrop-filter: blur(10px);
        backdrop-filter: blur(10px);
    }

    .navbar-container .navbar-menu.active { display: flex; }

    .navbar-toggle {
        display: block;
        z-index: 999;
    }

    .navbar-toggle.active .bar:nth-child(2) { opacity: 0; }

    .navbar-toggle.active .bar:nth-child(1) { transform: translateY(8px) rotate(45deg); }

    .navbar-toggle.active .bar:nth-child(3) { transform: translateY(-8px) rotate(-45deg); }

    /* ================== HEADER ================== */
    header { background-image: url('../images/PatternMin.webp'); }

    .home-design {
        width: 100%;
        margin-top: 0; 
        align-items: center;
    }

    .home-design .home-name { 
        padding: 0 3rem; 
        text-align: center;
    }

    .home-design .home-name h1 { font-size: 10rem; }

    .home-design .home-name h3 { font-size: 4rem; }

    .home-design .home-info p { font-size: 0.9rem; }    

    /* ================== EXPERIENCE ================== */
    .description.exp { margin-bottom: 1.8em; }

    .exp-section:not(:last-child) { margin-bottom: 1em; }

    .exp-section.reverse { flex-direction: column-reverse; }

    .exp-left,
    .exp-right {
        width: 100%;
        text-align: center;
    }

    .exp-left .dolphin { width: 80%; }

    .exp-left img { height: 30em; }

    .exp-title h5 { font-size: 2.2rem; }

    .exp-title p { font-size: 0.9rem; }

    .exp-right.second,
    .exp-right { padding: 3.5em; }

    .exp-right p { font-size: 1em; }

    .button.stay { font-size: 1.1rem; }
}

@media (max-width: 480px) {
    /* ================== MODAL ================== */
    .modal-container { width: 95%; }

    /* ================== NAVBAR ================== */
    .navbar-container { padding: 0 1rem; }

    .navbar-container .navbar-menu li a {
        font-size: 1rem;
        padding: 3px 15px;
    }

    /* ================== HEADER ================== */
    header { background-image: url('../images/PatternMin.webp'); }

    .home-container { 
        padding: 0; 
        margin-top: 0px;
    }

    .home-design { 
        width: 100%; 
        align-items: center;
        margin: auto;
    }

    .home-design .home-name { 
        padding: 0; 
        text-align: center;
    }

    .home-design .home-name h1 { font-size: 6rem; }

    .home-design .home-name h3 { font-size: 2.4rem; }

    .home-design .home-info { padding: 3em 3em; }

    .home-design .home-info p { font-size: 0.8rem; }

    .button {
        width: 12em;
        height: 3em;
        font-size: 0.9rem;
    }

    /* ================== PROJECTS ================== */
    .description {
        width: 100%;
        padding: 0 1.5em;
    }

    .description h1 { font-size: 2.5rem; }

    .description p { font-size: 0.7rem; }

    .options-container { 
        display: grid;
        grid-template-columns: repeat(2, auto);
        justify-content: center;
        gap: 0.6rem;
    }

    .options-container .option { font-size: 0.9rem; }

    .projects-container.active { grid-template-columns: repeat(auto-fit, minmax(360px, 1fr)); }

    .project:hover .border { inset: 1em; }

    .project .content-project { 
        width: calc(100% - 3em);
        height: calc(100% - 3em);
        text-align: center;
    }

    .project-title h5 { 
        font-size: 1.1rem;
        letter-spacing: 0.5em; 
    }

    .project-title p { 
        font-size: 0.7em;
        letter-spacing: 0.5em;
    }

    .project-touched .border {
        inset: 2rem;
        opacity: 1;
        transform: rotate(0);
    }

    .project-touched img {
        filter: blur(4px) brightness(0.5);
        transform: scale(1.05);
    }

    .project-touched .content-project { transform: scale(1); }

    .project-buttons.wrap-3 { 
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 0.5rem;
        transform: translateY(-0.4em);
    }

    .project-buttons.wrap-3 .about { grid-column: 1 / -1; }

    .project-buttons .project-option { font-size: 0.8rem; }

    /* ================== EXPERIENCE ================== */
    .description.exp { margin-bottom: 1.2em; }

    .exp-section:not(:last-child) { margin-bottom: 1em; }

    .exp-section.reverse { flex-direction: column-reverse; }

    .exp-left,
    .exp-right {
        width: 100%;
        text-align: center;
    }

    .exp-left .dolphin { width: 80%; }

    .exp-left img { height: 15em; }

    .exp-title { transform: rotate(-5deg) translateY(1em); }

    .exp-title.left { transform: rotate(5deg) translateY(1em); }

    .exp-title h5 { font-size: 1.6rem; }

    .exp-title p { font-size: 0.6rem; }

    .exp-right.second,
    .exp-right { padding: 2em; }

    .exp-right h2 { font-size: 1.3rem; }

    .exp-right p { font-size: 0.7em; }

    .button.stay { font-size: 0.9rem; }
}

@media (min-width: 1024px) and (max-width: 1365px) {
    /* ================== HEADER ================== */
    header { background-image: none; }

    .home-container { padding: 0; }

    .home-design { 
        width: 100%; 
        align-items: center;
    }

    .home-design .home-name { 
        padding: 0; 
        text-align: center;
    }

    .home-design .home-info { 
        display: flex;
        text-align: center;
        padding: 2.3em 1.5em;
    }
}

@media (min-width: 1366px) {
    /* ================== HEADER ================== */
    header { 
        background-image: url('../images/PatternMax.webp'); 
        background-size: contain;
        background-repeat: no-repeat;
        background-position: bottom;
    }
}

@media (min-width: 1520px) {
    /* ================== HEADER ================== */
    header { background-image: url('../images/PatternMax.webp'); }
}

@media (min-width: 1920px) {
    /* ================== REUSABLE ================== */
    .button { font-size: 1.5rem; }

    /* ================== MODAL ================== */
    .modal-container { width: 37%; }

    .modal-container label { font-size: 2.5rem; }

    .modal-slider { padding: 1em 0; }

    .modal-slider .prevBtn,
    .modal-slider .nextBtn { font-size: 2rem; }

    .modal-slider .img-slider {
        width: 0.6em;
        height: 0.6em;
    }

    .modal-content h3 { font-size: 3rem; }
    
    .modal-content p { 
        font-size: 1.3rem; 
        margin-bottom: 2.5em;
    }

    .modal-content h4 {
        font-size: 1.2rem;
        margin-bottom: 0.7em;
    }

    .technologies .tech { 
        font-size: 1rem; 
        padding: 6px 20px 6px 40px;
    }

    /* ================== NAVBAR ================== */
    .navbar { height: 110px;}

    .navbar.hide { top: -110px; }

    .navbar-container { padding: 0 5rem; }

    .navbar-container .navbar-menu li a { font-size: 1.5rem; }

    /* ================== HEADER ================== */
    .home-design .home-name h1 { font-size: 17rem; }

    .home-design .home-name h3 {
        font-size: 7rem;
        margin: -1.3em 0 0 2.6em;
    }

    .home-design .home-info { padding-right: 2em; }

    .home-design .home-info p { font-size: 1.5rem; }

    /* ================== PROJECTS ================== */
    .description { width: 80%; }

    .description h1 { font-size: 5rem; }

    .description p { font-size: 1.5rem; }
    
    .options-container {
        display: flex;
        gap: 2em; 
    }

    .options-container .option { font-size: 1.5rem; }

    .projects-container.active { grid-template-columns: repeat(auto-fit, minmax(700px, 1fr)); }

    .project-title h5 { 
        font-size: 3.3rem; 
        letter-spacing: 1rem;
    }

    .project-title p { font-size: 1.6rem; }

    .project-buttons { gap: 1.5em; }

    .project-buttons .project-option { 
        font-size: 1.6rem; 
        padding: 10px 30px;
    }
}